* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
}
h2 {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333333;
}
p {
    margin: 0;
}
.container  {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo__img {
    width: 43px;
    height: 43px;
    margin-right: 7px;
}
.header-logo__text {
    text-transform: uppercase;
    font-size: 28px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: 555px;
    align-items: center;
}
.navigation__list {
    display: flex;
    padding: 0;
}
.navigation__item {
    margin-right: 30px;
}
.navigation__item:last-child{
    margin-right: 0;
}
.navigation__link {
    font-size: 20px;
    text-transform: uppercase;
    color: #333333;
}
.header-background {
    background: url("../img/header_background.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
}

/* MAIN START */

.main {
    display: flex;
    justify-content: center;
}
.contents {
    width: 760px;
    margin-right: 17px;
}
.blog {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.blog__date {
    color: #0055a6;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.blog__image {
    width: 100%;
    margin-bottom: 30px;
}
.blog__title {
    font-size: 24px;
    margin-bottom: 10px;
}
.blog__autor {
    text-transform: uppercase;
}
.blog__autor a {
    color: #333333;
}
.blog__autor a:hover {
    color: #0055a6;
}
.blog__text {
    font-size: 16px;
}
/* SIDEBAR */
.sidebar {
    width: 360px;
}
.sidebar-title {
    padding-bottom: 5px;
    border-bottom: 3px solid #0055a6;
    width: 200px;
}
.sidebar-search {
    margin-top: 34px;
    width: 100%;
    padding: 30px 20px 18px;
    background-color: #ededed; 
    display: flex;
    flex-direction: column;
}
.sidebar-search__label {
    margin-bottom: 10px;
}
.sidebar-search__input {
    padding: 10px;
    border: 1px solid #ededed;
}
.sidebar-popular {
    width: 100%;
}
.sidebar-popular__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.sidebar-popular__item {
    padding: 5px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.sidebar-popular__item:last-child {
    margin-right: 0;
}
.sidebar-posts {
    width: 100%;
}
.sidebar-posts {
    padding-top: 0;
    padding-bottom: 10px;
}
.sidebar-posts__link {
    margin-bottom: 50px;
}
.sidebar-posts__block {
    display: flex;
    justify-content: space-between;
}
.sidebar-posts__image {
    width: 100%;
    margin-right: 10px;
}
.sidebar-posts__text {
    font-size: 10px;
}
